body {
  font-family:helvetica;
}

h2 {
  font-family:helvetica;
  font-size:32px;
  font-weight:bold;
  color:white;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}

.blue {
  font-weight:bold;
  color:blue;
}

h1 {
  font-family:helvetica;
  font-size:100px;
  font-weight:bold;
  color:khaki;
  text-align: center;
  background: url(/Users/arnobriers/Documents/codecademy/projects/dasmoto/resources/images/pattern.jpg);
}
